@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";

*{
  font-family: "Martel Sans", sans-serif;
}

@theme {
  --color-primary: #2BC0A4; /* Logo green */
  --color-secondary: #F59E0B; /* Tagline orange */
  --color-dark: #1E4D4D;    /* Logo text shadow/dark border */
  --color-light: #0F172A;   /* Background */
  --color-borderColor: #FBBF24; /* Neutral border */
}

body {
  @apply bg-[#0F172A]; /* example deep teal */
  color: #FBBF24; /* example light gray */
}
